@charset "utf-8";

$fontColorBlack: #333333;
$backgroundColor: #e9ebea;
$mainColor: #234926;
$fontColor02: #dfe0df;
$newsBackgroundColor: #bfc1be;

@mixin round {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px auto 0;
  background: $mainColor;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  color: $fontColorBlack;
  position: relative;
  line-height: 1.5;
  background-color: $backgroundColor;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

/* セクションmargin-bottom */
.about,
.works,
.access {
  margin-bottom: 200px;
}

/* セクションボーダーライン */
.contact,
.access {
  border-top: 3px solid $mainColor;
  border-radius: 2px;
}

.ttl-border {
  margin-top: 80px;
}

/* セクションタイトル */
.ttl {
  text-align: center;
  margin-bottom: 80px;
  font-size: 1.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4rem;

  &::after {
    @include round;
  }
}

/* button */
.more-btn {
  text-align: right;

  a {
    background-color: $mainColor;
    padding: 8px 56px;
    border-radius: 20px;
    color: $fontColor02;
    transition-duration: 0.5s;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 42%;
      right: 16px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      transition: all .3s;
    }

    &:hover::after {
      right: 11px;
      border-top: 2px solid $mainColor;
      border-right: 2px solid $mainColor;
    }

    &:hover {
      background-color: $fontColor02;
      color: $mainColor;
      transition-duration: 0.5s;
      outline: 1px solid $mainColor;
    }
  }
}


/* ここからheader */
/* logo  */
.logo {
  width: 320px;
  line-height: 1;
}

.header {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px 35px 40px;
}

.nav-area .nav ul {
  display: flex;

  li {
    margin-right: 18px;

    a {
      font-size: 1rem;
      position: relative;
      text-transform: uppercase;
      font-weight: 500;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-area .nav ul li a::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  border-radius: 4px;
  background-color: $mainColor;
  bottom: -7px;
  left: 0;
  width: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-area .nav ul li a:hover::after {
  width: 100%;
}



/* sns-logo */
.sns-logo {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  // margin-right: 12px;
  position: fixed;
  right: 30px;
  top: 150px;
  filter: drop-shadow(0 0 0.05rem rgb(254, 255, 253));

  img {
    width: 30px;
    display: inline-block;

    &:hover {
      transition: all 0.5s;
      opacity: 0.7;
    }
  }
}

/* mainvisual */
.main-visual img {
  display: block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  text-align: center;
}

/* news */
.news-bg {
  background-color: $newsBackgroundColor;
  padding: 56px 0;
  margin-bottom: 200px;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.article-inner {
  margin-bottom: 16px;
}

.topics-time {
  text-align: center;
  margin-bottom: 10px;

  time {
    font-size: 2.125rem;
    margin-top: 10px;
    color: $mainColor;
    font-weight: 500;
  }
}

.img-box {
  border-radius: 30px;
  width: 260px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  background: $fontColor02;

  dt img {
    transition-duration: 1s;
    object-fit: cover;
    width: 100%;
    height: 250px;

    &:hover {
      transform: scale(1.05);
      transition-duration: 1s;
    }
  }

  dd {
    padding: 10px 20px;
    color: $mainColor;
    font-size: 0.875rem;
  }
}

/* about */
.about-container {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.about-text-container {
  max-width: 45%;
  padding: 64px 50px 0;

  .about-ttl {
    font-size: 1.25rem;
    line-height: 3;
  }

  p {
    margin-bottom: 30px;
    text-align: justify;
  }
}

.img-container {
  max-width: 55%;
  border-radius: 90px 0 0 0;
  overflow: hidden;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

/* works */
.works-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  li {
    margin-bottom: 60px;
    text-align: center;
    width: calc(100%/3);
    img{
      object-fit: cover;
      width: 100%;
    }
    a {
      transition: all 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.works-img-container li a img {
  object-fit: cover;
  height: 320px;
  width: 260px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* access */
.access-text-container {
  margin-bottom: 32px;
}

.access-text {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 10px;
  width: 100%;
  border-bottom: 1px solid $newsBackgroundColor;

  &:nth-child(6) {
    border: none;
  }

  dt {
    width: 30%;
  }

  dd {
    width: 70%;
  }
}

.add {
  margin-left: 30%;
}

/* access-map */
.access-map-area h3 {
  font-size: 1.125rem;
  margin-bottom: 16px;
  // line-height: 1.5;
  border-bottom: 2px solid $mainColor;
  color: $mainColor;
  display: inline-block;
  text-transform: uppercase;
}

.access-map-area iframe {
  width: 100%;
  height: 320px;
}

/* contact */
.contact-tel {
  margin-bottom: 40px;
  text-align: center;

  li:nth-child(1) {
    margin-bottom: 5px;
  }

  li:nth-child(2) {
    font-size: 2rem;
    color: $mainColor;
    font-weight: 600;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  dt {
    width: 20%;
    text-transform: uppercase;
    font-weight: normal;
  }

  dd {
    width: 80%;

    textarea {
      height: 16rem;
      border: none;
      margin-bottom: 32px;
    }
  }
}

label {
  &::after {
    content: " ※必須";
    font-size: 0.75rem;
  }
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  height: 2.75rem;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #dfe0df;
}

.btn {
  text-align: center;
  margin-bottom: 80px;
}

input[type='submit'] {
  background-color: $mainColor;
  padding: 10px 90px;
  border-radius: 20px;
  color: #dfe0df;
  transition-duration: 0.5s;

  &:hover {
    background-color: $fontColor02;
    color: $mainColor;
    transition-duration: 0.5s;
    outline: 1px solid $mainColor;
  }
}



/* ここからfooter */
.footer-container {
  max-width: 100%;
  height: auto;
  text-align: center;
  background-color: $mainColor;
  padding: 40px 0 20px;
  margin: 0 auto;
}


.footer-logo {
  max-width: 180px;
  margin-bottom: 56px;
}

.copyright {
  display: block;
  text-align: center;
  color: $fontColor02;
}

@media (max-width: 870px) {
  :target {
    scroll-margin-top: 120px;
  }

  .header {
    height: 120px;

    .header-container {
      padding: 10px 20px;
    }
  }

  h1 a img {
    padding: 14px 0;
  }

  .header-container {
    flex-direction: column;
  }

  .about,
  .works,
  .access {
    margin-bottom: 150px;
  }

  .ttl {
    margin-bottom: 24px;
  }

  .main-visual img {
    height: auto;
  }

  /* news */
  .news-bg {
    margin-bottom: 150px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
  }

  /* btn */
  .more-btn {
    text-align: center;
  }

  /* about */
  .about-container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    .about-text-container {
      max-width: 100%;
      padding-top: 16px;
    }
  }

  .img-container {
    min-width: 100%;
  }

  /* works */
  .works-img-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 25px;

    li {
      width: 100%;
    }
  }

  .sns-logo {
    right: 10px;
  }

  /* contact */
  .contact-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    dt {
      width: 100%;
    }

    dd {
      width: 100%;
    }
  }
}


@media (max-width: 428px) {
  .header-container {
    align-items: flex-end;
  }
  .logo {
    width: 220px;
    }
  
  .nav-area .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60%;
    height: 100%;
    background: rgba(20, 20, 20, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateX(300px);
    transition: all 0.5s;

    ul {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10%;
      padding-top: 30%;

      li {
        margin-right: 30%;
        margin-bottom: 24px;

        a {
          color: #fff;
          font-size: 1.25rem;
        }
      }
    }
  }

  .nav-area.active nav {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all 0.5s;
  }

  // sns-logo
  .sns-logo {
    margin-right: 12px;
  }

  // hamburger-menu
  .hamburger-menu {
    width: 48px;
    height: 32px;
    position: relative;
    z-index: 30;
    cursor: pointer;
    
    span {
      position: absolute;
      top: 0;
      left: 3px;
      width: 42px;
      height: 3px;
      border-radius: 5px;
      background-color: $mainColor;
      transition: all 0.5s;
    }
  }

  .hamburger-menu span:nth-of-type(1) {
    top: 6px;
  }

  .hamburger-menu span:nth-of-type(2) {
    top: 14px;
  }

  .hamburger-menu span:nth-of-type(3) {
    top: 22px;
  }

  // active付加
  .active .hamburger-menu span {
    background-color: #fff;
  }

  .active .hamburger-menu span:nth-of-type(1) {
    transform: translateY(8px) rotate(-30deg);
  }

  .active .hamburger-menu span:nth-of-type(2) {
    opacity: 0;
  }

  .active .hamburger-menu span:nth-of-type(3) {
    transform: translateY(-8px) rotate(30deg);
  }
}